[gerrit]
	basePath = git
	serverId = 855a418b-c0cf-44a2-9ef4-ef741d4d4119
	canonicalWebUrl = http://ip_address/
[database]
	type = h2
	database = E:\\git\\Gerrit\\db\\ReviewDB
[index]
	type = LUCENE
[auth]
	type = HTTP
	logoutUrl = http://nobody:nobody@ip_address/
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = admin
	javaHome = C:\\Program Files\\Java\\jre1.8.0_131
[sshd]
	listenAddress = *:29332
[httpd]
	listenUrl = proxy-http://*:8082/
[cache]
	directory = cache
